.header__logo{
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 320px){
    .header__logo{
        top: 0;
        left: 27px;

        width: 103.74px;
        height: 24.4px;
    }
}