.header{
    margin-top: 45px;
    max-width: 880px;
    width: 100%;
    min-height: 74px;
    position: relative;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (max-width: 320px){
    .header{
        margin-top: 28px;
        min-height: 56px;
    }
}