.mesto{
    padding-top: 50px;
    max-width: 880px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 17px;
}

@media (max-width: 320px){
    .mesto{
        grid-template-columns: 282px;
        grid-template-rows: repeat(6, 361px);
        justify-content: center;
        padding-top: 36px;
        gap: 20px;
    }
}