.profile__addbutton{
    padding: 0;
    background-color: #000;
    border: 1px solid #fff;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__addbutton:hover{
    opacity: .6;
    cursor: pointer;
}

@media (max-width: 800px){
    .profile__addbutton{
        width: 282px;
        margin-top: 32px;
    }
}